body, html {
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    color: #666;
    background-color: #ecf0f1;
    line-height: 2;
}

.bg-white {
    .navbar-brand {
        font-weight: bold;
        color: #039BE5;
    }

    .navbar-toggler,
    .navbar-toggler:hover,
    .navbar-toggler:focus {
        border: none;
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}
