.navbar-light {
    z-index: 9999;
    
    .navbar-brand {
        color: #2196F3;
        font-weight: bold;
    }
}

.menu-header {
    display: none;
}

@media(max-width: 768px) {
    .menu-header {
        display: block;
    }
}