.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 50px;
    width: 360px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
       -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);


    @media only screen and (max-width: 768px) {
        width: 100%;
        overflow-y: auto;
    }
    
    .close-sidebar {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 50px;
        visibility: hidden;

        @media only screen and (max-width: 768px) {
            visibility: visible;
        }
    }

    .picture-profile {
        width: 100%;
        min-height: 180px;
        padding-bottom:20px;
        text-align: center;

        img {
            border-radius: 50%;
            width: 140px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.34), -1px 1px 1px rgba(0, 0, 0, 0.34);
        }
    }

    .name-profile {
        text-align: center;
        
        .fullname {
            font-size: 22px;
            font-weight: bold;
            width: 100%;
            margin-bottom: 0px;
        }

        .nickname {
            color: #666666;
        }
    }

    .sosial-media {
        margin-top: 15px;
        text-align: center;

        a {
            padding: 0px 10px;
            color: #212121;
            
            :hover {
                color: #2196F3;
            }
        }
    }

    .list-menu {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        
            li {
                padding: 2px 0px;

                a {
                    font-size: 13px;
                    font-weight: 500;
                    color: #212121;
                    text-decoration: none;
                    
                    :hover {
                        color: #2196F3;
                    }
                }
            }
        }
    }

}