.navbar-light {
    .navbar-brand {
        color: #2962FF;
        font-weight: bold;
    }
}

.menu-header {
    display: none;
}

@media(max-width: 768px) {
    .menu-header {
        display: block;
    }
}