body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #666;
  background-color: #ecf0f1;
  line-height: 2; }

.site-header {
  width: 100%;
  min-height: 50px;
  background-color: #fff; }
